html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    letter-spacing: -0.3px;
    background-color: #f9f9f9;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*============================================================================
container
 */

.fixed-container {
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
}


/*============================================================================
header section
 */

.header {
    margin-bottom: 36px;
}

/*============================================================================
top panel
 */

.wrap-top-panel {
    color: #fff;
    background-color: #00122f;
}

.about {
    padding: 20px 0;
    font-size: 16px;
    float: left;
    font-weight: normal;
}

.about__link {
    color: #fff;
}

.date-time {
    float: right;
    padding: 20px 0;
}


/*============================================================================
logo and search
 */
.logo {
    text-decoration: none;
    float: left;
    margin: 40px 60px 35px 0;
}

.select-wrapper {
    position: relative;
    float: left;
    font-size: 0;
    margin-top: 50px;
}

.select-wrapper::after {
    content: '';
    position: absolute;
    top: 19px;
    left: 0;
    right: 15px;
    height: 1px;
    border-bottom: 1px dashed #448ccb;
}

.city-select {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    padding-right: 15px;
    background: url("https://image.flaticon.com/icons/svg/154/154694.svg") 100% center no-repeat;
    background-size: 10px 15px;
    color: #448ccb;
}

.weather {
    background-image: url("../images/icons/cloudy.svg");
    background-position: left center;
    -webkit-background-size: auto 100%;
    background-size: 27px;
    display: inline-block;
    padding-left: 48px;
    background-repeat: no-repeat;
    float: left;
    margin: 50px 48px 0 300px;
    color: #91919f;
}

.search-form {
    float: left;
    margin-top: 40px;
    position: relative;
}

.search-form__input {
    border: none;
    border-radius: 45px;
    width: 318px;
    height: 45px;
    background-color: #f3f3f3;
    padding: 0 37px 0 20px;
}

.search-form__submit {
    position: absolute;
    top: 13px;
    right: 20px;
    width: 15px;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../images/icons/magnifying-glass.svg") no-repeat center/contain;
}

/*============================================================================
main menu
 */

.main-menu {
    overflow: hidden;
}

.main-menu__item {
    float: left;
    margin-left: 19px;
}

.main-menu__item:first-child {
    margin-left: 0;
}

.main-menu__item:last-child {
    margin-right: 0;
}

.main-menu__item:not(:last-child) ::after {
    content: "/";
    color: #e1e1e5;
    display: inline-block;
    margin: 0 0 0 19px;
}

.main-menu__item .main-menu__link {
    text-decoration: none;
    color: #000000;
}


/*==============================
main news block
 */
.main {
    overflow: hidden;
    margin-bottom: 59px;
    background-color: #f9f9f9;
    box-shadow: inset 0 20px 10px -10px #efefef;
}

.main::after {
    clear: both;
}

.main .fixed-container {
    margin-top: 16px;
}

/*==============================
Daily news (left column)
 */

.daily-news {
    float: left;
    width: 250px;
    margin-right: 20px;
    background-color: #ffffff;
}

.daily-news__title {
    padding: 25px 18px 22px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
    font-size: 20px;
}

.daily-news__item {
    padding: 0 5px 0 18px;
    margin-bottom: 23px;
}

.daily-news__link {
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    letter-spacing: -0.17px;
}


/*============================================================================
news footer
 */
.news-footer {
    font-size: 12px;
    margin-top: 13px;
    overflow: hidden;
}

.news-footer::after {
    clear: both;
}

.news-category {
    float: left;
    color: #aaaab5;
    text-decoration: none;
}

.news-extras {
    float: right;
    color: #333333;
    margin-right: 33px;
}

.news-extras__time {
    background: url("../images/icons/clock.svg") no-repeat left/29%;
    padding-left: 15px;
    margin-left: 15px;
    margin-right: 17px;
}

.news-extras__comments {
    background: url("../images/icons/comments.png") no-repeat left/40%;
    padding-left: 15px;
}


/*=============================================================================
button
 */
.button {
    text-decoration: none;
    border-radius: 25px;
    border: 1px solid #448ccb;
    color: #448ccb;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    margin: 15px 0 25px 38px;
    padding: 13px 50px;
}

/*==============================
central column
 */

.content {
    float: left;
    width: 463px;
    margin-right: 17px;
}

.main-news {
    overflow: hidden;
}

.hot {
    position: relative;
    color: #ffffff;
}

.wrap-hot-text {
    position: absolute;
    left: 21px;
    top: 112px;
}

.news-category--hot {
    display: block;
    float: none;
    color: #fff;
    font-size: 12px;
}

.news-extras__date--hot {
    color: #fff;
    font-size: 12px;
}

.news-extras__time--hot {
    color: #fff;
    font-size: 12px;
    background: url("../images/icons/clock_white.svg") no-repeat left/22%;
    padding-left: 12px;
    margin-left: 18px;
}

.main-news__item {
    display: inline-block;
    width: 222px;
    margin-top: 5px;
    margin-bottom: 14px;
}

.article__link {
    text-decoration: none;
    color: #000000;
    line-height: 20px;
    letter-spacing: -0.17px;
}

.article__link--hot {
    display: block;
    float: none;
    margin-top: 17px;
    margin-bottom: 21px;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
    letter-spacing: 0.55px;
}

.article__link--bold {
    font-weight: 700;
    font-size: 14px;
}

.main-news__item .news-extras {
    margin: 0;
    float: none;
}

.main-news__item:nth-child(2n+1) {
    margin-left: 14px;
}

.main-news__item:first-child {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 5px;
}

.adv__link {
    display: block;
}

.adv__link:not(:last-child) {
    margin-bottom: 16px;
}

.adv {
    float: left;
}
/*================================================================
popular news block
 */
.clear {
    clear: both;
}

.most-popular {
    overflow: hidden;
    margin-top: 17px;
}

.most-popular__hot .news-extras {
    margin: 0;
    float: none;
}

.most-popular__hot {
    float:left;
    position: relative;
}

.most-popular__short-info {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin-top: 22px;
}

.wrap-popular-text {
    position: absolute;
    left: 20px;
    top: 105px;
}

.article__header {

}
/*============================================================================
left column
 */

/*==============================
right
 */

.most-popular__item .news-extras{
    float: none;
}

.most-popular__list {
    float:left;
    width: 412px;
    background-color: #ffffff;
}

.most-popular__item {
    padding: 20px 0 0 19px;
    margin-top: 2px;
}

/*==============================
Понятия не имею как выровнять по perf pixel в данном конкретном случае
 */
.most-popular__item:last-child {
    padding: 10px 0 15px 19px;
}
.most-popular .article__link--hot {
    display: block;
    float: none;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
    letter-spacing: -0.65px;
}

.most-popular .news-footer {
    margin: 12px 0;
}

.header-text {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px solid #ebebeb;
    padding: 20px 19px;
    margin-top: 3px;
}

.most-popular__link {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 22px;
}

/*==============================
footer
 */

.footer {
    background-color: #00122f;
}

.bottom-menu {
    width: 260px;
    columns: 2;
    float: left;
    margin: 52px 0;
}

.bottom-menu__item {
    margin: 0 0 14px 0;
}

.bottom-menu__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.diff-links {
    float: left;
    margin: 55px 0 44px 176px;
}

.bottom-logo {
    display: block;
    margin-bottom: 16px;
}

.additional__item {
    margin-bottom: 14px;
    margin-left: 2px;
}


.socials {

}

.socials-contacts {
    float: left;
    margin: 53px 0 0 178px;
}

.socials__items {
    display: inline-block;
}
.socials__items:not(:last-child) {
    margin: 0 16px 0 0;
}

.socials__link {
    display: block;
}

.socials__icon {
    width: 22px;
    height: 22px;
    fill: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 8px;
}

.wrap-tel-mail {
    float: left;
    margin-top: 38px;
}

.social-contacts__tel {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.social-contacts__mail {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-top: 24px;
}

.tel-pic {
    width: 16px;
    height: 16px;
    fill: #fff;
    margin-right: 12px;
}

.mail-pic {
    width: 14px;
    height: 14px;
    fill: #fff;
    margin-right: 15px;
}

.copyright {
    border-top: 1px solid #26354e;
    text-align:center;
    clear: both;
}

.copyright__text {
    display: block;
    color: #727882;
    font-size: 14px;
    padding: 17px 0;
}