html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    letter-spacing: -0.3px;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*============================================================================
container
 */

.fixed-container {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 320px;
    position: relative;
    box-sizing: border-box;
}

.container-col {
    display: flex;
}

.header .container-col {
    margin: 38px 0 34px;
}

.header .fixed-container {
    justify-content: space-between;
}

.top-menu .fixed-container {
    display: flex;
}

/*============================================================================
header section
 */

.header {
    margin-bottom: 36px;
}

/*============================================================================
top panel
 */

.wrap-top-panel {
    color: #fff;
    background-color: #00122f;
}

.about {
    padding: 20px 0;
    font-size: 1rem;
    font-weight: normal;
}

.about__link {
    color: #fff;
}

.date-time {
    padding: 20px 0;
}


/*============================================================================
logo and search
 */
.logo {
    text-decoration: none;
}

.select-wrapper {
    position: relative;
    font-size: 0;
    margin: 13px 20px 13px 60px;
}

.select-wrapper::after {
    content: '';
    position: absolute;
    top: 19px;
    left: 0;
    right: 15px;
    height: 1px;
    border-bottom: 1px dashed #448ccb;
}

.city-select {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1rem;
    padding-right: 15px;
    background: url("https://image.flaticon.com/icons/svg/154/154694.svg") 100% center no-repeat;
    background-size: 10px 15px;
    color: #448ccb;
}

.weather {
    background-image: url("../images/icons/cloudy.svg");
    background-position: left center;
    -webkit-background-size: auto 100%;
    background-size: 27px;
    display: inline-block;
    padding-left: 48px;
    background-repeat: no-repeat;
    color: #91919f;
    margin: 13px 49px 13px 20px;
}

.search-form {
    position: relative;
}

.search-form__input {
    border: none;
    border-radius: 45px;
    width: 318px;
    height: 45px;
    background-color: #f3f3f3;
    padding: 0 37px 0 20px;
}

.search-form__submit {
    position: absolute;
    top: 13px;
    right: 20px;
    width: 15px;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../images/icons/magnifying-glass.svg") no-repeat center/contain;
}

.magnifying-glass--btn {
    background: url("../images/icons/magnifying-glass.svg") no-repeat center/contain;
    width: 16px;
}

/*============================================================================
main menu
 */

.main-menu {
    display: flex;
    flex-wrap: wrap;
}

.main-menu__item {
    margin-left: 19px;
}

.main-menu__item:first-child {
    margin-left: 0;
}

.main-menu__item:last-child {
    margin-right: 0;
}

.main-menu__item:not(:last-child) ::after {
    content: "/";
    color: #e1e1e5;
    margin: 0 0 0 19px;
}

.main-menu__item .main-menu__link {
    text-decoration: none;
    color: #000000;
}


/*==============================
main news block
 */
.main {
    padding-bottom: 55px;
    background-color: #f9f9f9;
    box-shadow: inset 0 20px 10px -10px #efefef;
}


.main .fixed-container {
    padding-top: 16px;
    justify-content: space-between;
}


.align-container {
    display: flex;
}

/*==============================
Daily news (left column)
 */

.daily-news .align-container {
    flex-direction: column;
}

.daily-news {
    max-width: 250px;
    margin-right: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.daily-news__title {
    padding: 25px 18px 22px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
    font-size: 1.25rem;
}

.daily-news__item {
    padding: 0 5px 0 18px;
    margin-bottom: 22px;
}

.daily-news__link {
    text-decoration: none;
    font-size: 0.94rem;
    line-height: 20px;
    color: #000000;
    letter-spacing: -0.17px;
}


/*============================================================================
news footer
 */
.news-footer {
    font-size: 0.75rem;
    margin-top: 13px;
    display: flex;
}

.daily-news .news-footer {
    justify-content: space-between;
}

.news-category {
    color: #aaaab5;
    text-decoration: none;
}

.daily-news .news-extras {
    color: #333333;
    margin-right: 33px;
}

.news-extras__time {
    background: url("../images/icons/clock.svg") no-repeat left/25%;
    padding-left: 15px;
    margin-left: 15px;
    margin-right: 17px;
}

.news-extras__comments {
    background: url("../images/icons/comments.png") no-repeat left/40%;
    padding-left: 15px;
}


/*=============================================================================
button
 */
.button {
    text-decoration: none;
    border-radius: 25px;
    border: 1px solid #448ccb;
    color: #448ccb;
    font-size: 0.875rem;
    display: inline-block;
    text-align: center;
    margin: 15px 0 25px;
    padding: 13px 50px;
    align-self: center;
}

/*==============================
central column
 */

.content {
    margin-right: 10px;
}

.main-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 463px;
}

.main-news__pic {
    display: block;
    width: 100%;
    height: 145px;
}

.main-news__item {

}

.main-news__item:nth-child(2n) {
    margin-right: 10px;
}

.main-news__item:first-child {
    width: max-content;
    margin-bottom: 14px;
    margin-left: 0;
}

.main-news__item:not(:first-child) {
    max-width: 220px;
    margin-bottom: 17px;
}


.hot {
    position: relative;
    color: #ffffff;
}

.hot__image {
    width: 100%;
}

.wrap-hot-text {
    position: absolute;
    left: 21px;
    top: 112px;
}

.news-category--hot {
    display: block;
    color: #fff;
    font-size: 0.75rem;
}

.news-extras__date--hot {
    color: #fff;
    font-size: 0.75rem;
}

.news-extras__time--hot {
    color: #fff;
    font-size: 0.75rem;
    background: url("../images/icons/clock_white.svg") no-repeat left/22%;
    padding-left: 12px;
    margin-left: 18px;
}

.article__link {
    text-decoration: none;
    color: #000000;
    line-height: 20px;
    letter-spacing: -0.5px;
    padding-right: 10px;
}

.article__link--hot {
    display: block;
    margin-top: 17px;
    margin-bottom: 21px;
    padding-right: 45px;
    font-size: 1.875rem;
    letter-spacing: 0.55px;
    line-height: 2.1875rem;
    color: #ffffff;
}

.article__link--bold {
    display: block;
    font-weight: 700;
    font-size: 0.875rem;
    margin-top: 4px;
}

.main-news__item .news-extras {
    margin: 0;
}

/*==============================
adv banner etc...
 */
.adv {
    /*max-width: 250px;*/
    flex-basis: 250px;
}

.adv__link {
    display: block;
}

.adv__link:not(:last-child) {
    margin-bottom: 16px;
}


/*================================================================
popular news block
 */

.most-popular {
    overflow: hidden;
    margin-top: 2px;
    display: flex;
    align-items: flex-start;
}

.most-popular__hot .news-extras {
    margin: 0;
}

.most-popular__hot {
    position: relative;
}

.most-popular__short-info {
    color: #fff;
    font-size: 0.875rem;
    line-height: 20px;
    margin-top: 22px;
}

.wrap-popular-text {
    position: absolute;
    left: 20px;
    top: 105px;
}

/*============================================================================
left column
 */

/*==============================
right
 */


.most-popular__article .news-extras__time {
    margin-left: 8px;
    margin-right: 16px;
}


.most-popular__list {
    max-width: 412px;
    background-color: #ffffff;
}

.most-popular__item {
    padding: 20px 0 0 19px;
    margin-top: 2px;
}

.most-popular__img {
    width: 100%;
}

/*==============================
Понятия не имею как выровнять по perf pixel в данном конкретном случае
 */
.most-popular__item:last-child {
    padding: 10px 0 15px 19px;
}

.most-popular .article__link--hot {
    display: block;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.875rem;
    line-height: 35px;
    color: #ffffff;
    letter-spacing: -0.65px;
}

.most-popular .news-footer {
    margin: 12px 0;
}

.header-text {
    font-size: 1.25rem;
    line-height: 30px;
    border-bottom: 1px solid #ebebeb;
    padding: 20px 20px;
    margin-top: 3px;
}

.most-popular__link {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    line-height: 21px;
}

/*==============================
footer
 */

.footer {
    background-color: #00122f;
}

.footer .fixed-container {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 260px;
}

.bottom-menu {
    min-width: 260px;
    columns: 2;
    margin: 0;
}

.bottom-menu__item {
    margin: 0 0 14px 0;
}

.bottom-menu__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

.diff-links {
    margin-top: 15px;
}

.bottom-logo {
    display: block;
    margin-bottom: 16px;
}

.additional__item {
    margin-bottom: 14px;
    margin-left: 2px;
}


.socials {

}

.socials-contacts {

}

.socials__items {
    display: inline-block;
}

.socials__items:not(:last-child) {
    margin: 0 16px 0 0;
}

.socials__link {
    display: block;
}

.socials__icon {
    width: 22px;
    height: 22px;
    fill: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 8px;
}

.wrap-tel-mail {
    margin-top: 38px;
}

.social-contacts__tel {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.125rem;
}

.social-contacts__mail {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.125rem;
    margin-top: 24px;
}

.tel-pic {
    width: 16px;
    height: 16px;
    fill: #fff;
    margin-right: 12px;
}

.mail-pic {
    width: 14px;
    height: 14px;
    fill: #fff;
    margin-right: 15px;
}

.copyright {
    border-top: 1px solid #26354e;
    text-align: center;
}

.copyright__text {
    display: block;
    color: #727882;
    font-size: 0.875rem;
    padding: 17px 0;
    line-height: 20px;
}

.currencies {
    font-size: 0.75rem;
    color: #333;
    overflow: hidden;
    margin: 12px 25px 12px 19px;
}

.currencies__link {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 0.9375rem;
}

.rub {
    line-height: 1px;
    width: 0.5em;
    border-bottom: 1px solid #848484;
    display: inline-block;
}

.EUR, .USD {
    display: inline-block;
    margin: 13px 10px 0 0;
    color: #848484;
}


.logo__pic--mobile {
    display: none;
}

.menu-burger {
    cursor: pointer;
    display: none;
}


.menu-burger__view {
    border: 1px solid #000;
    position: relative;
    width: 20px;
    height: 0;
}

.menu-burger__view:hover {
    cursor: pointer;
}

.menu-burger__view::before {
    content: "";
    position: absolute;
    border: 1px solid #000;
    top: 13px;
    left: -1px;
    width: 100%
}

.menu-burger__view::after {
    content: "";
    position: absolute;
    border: 1px solid #000;
    top: 6px;
    left: -1px;
    width: 100%;
}

.mobile-row {
    width: 100%;
    display: none;
}


/*==============================
@MEDIA queries
 */

@media (max-width: 1024px) {
    .most-popular__link {
        font-size: 0.8125rem;
        line-height: 21px;
    }

    .main .fixed-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .daily-news {
        margin-left: 20px;
    }

    .adv {
        display: flex;
        flex-basis: auto;
        max-width: none;
    }

    .adv__link {
        margin-right: 10px;
        margin-top: 30px;
    }

    .adv__pict {
        height: 400px;
    }


    .content {
        order: -1;
    }

}

@media (max-width: 980px) {
    .most-popular__short-info {
        display: none;
    }
}

@media (max-width: 960px) {

    .main-menu {
        justify-content: center;
        width: 100%;
    }

    .main-menu__link::after {
        display: none;
    }

    .most-popular {
        flex-direction: column;
    }

    .most-popular__list {
        max-width: none;
        width: 100%;
    }

    .search-form__input {
        width: 100%;
    }
}

@media (max-width: 810px) {
    .daily-news {
        max-width: 460px;
        margin-right: 0;
        margin-left: 0px;
    }

    .content {
        margin-right: 0;
    }


}

@media (max-width: 780px) {
    .search-form__input {
        width: auto;
    }

    .main-menu__item {
        font-size: 12px
    }

}

@media (max-width: 770px) {

}

@media (max-width: 680px) {
    .footer .fixed-container {
        justify-content: space-evenly;
    }

    .diff-links {
        margin: 0 20px;
    }

    .footer .socials-contacts {
        text-align: center;
        margin: 25px 0 0;
        padding-bottom: 25px;
        border-bottom: 1px solid rgba(229, 229, 229, 0.15);
    }

    .bottom-menu {
        margin: 30px 0;
    }

    .diff-links {
        margin: 30px 20px;
    }

    .header .fixed-container {
        justify-content: center;
    }

    .date-time {
        display: none;
    }
}

@media (max-width: 650px) {
    .search-form__input {
        display: none;
    }

    .search-form__submit {
        right: -10px;
    }
}

@media (max-width: 630px) {

    .fixed-container {
        padding: 0 20px;
    }

    .mobile-row:last-child {
        margin: 43px 0 4px;
    }

    .top-menu .fixed-container {
        position: relative;
    }

    .main-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        top: -65px;
        box-shadow: inset 0 20px 10px -10px #efefef;
        background-color: #ffffff;
        z-index: 99;
        max-width: 500px;
        height: 526px;
        justify-content: flex-start;
        padding-top: 12px;
    }

    .main-menu {
        display: none;
    }

    .main-menu__item {
        margin: 0;
        padding: 0 25px;
    }

    .main-menu__item .main-menu__link {
        padding: 10px 0;
        display: block;
        font-size: 18px;
        border-bottom: 1px solid #ebebeb;
        line-height: 20px;
    }

    .top-menu {

    }

    .wrap-burger-menu {
        display: block;
    }

    .select-wrapper {
        display: none;
    }

    .header .fixed-container {
        justify-content: space-evenly;
    }


    .header .container-col {
        display: none;
    }

    .city-select, .weather, .date-time {
        display: none;
    }

    .mobile-row .weather {
        display: block;
        margin: 0;
        padding-left: 36px;
    }

    .mobile-row .news-extras__time {
        margin: 0;
        padding-left: 24px;
    }

    .main-news {
        justify-content: center;
    }

    .main-news__item:first-child {
        width: 100%;
        margin-bottom: 10px;
    }

    .article__link--hot {
        font-size: 23px;
        line-height: 28px;
        letter-spacing: 0;
    }

    .main-news__item:not(:first-child) {
        max-width: 90%;
        margin-bottom: 17px;
    }

    .main-news__pic {
        height: auto;
    }

    .menu-burger {
        display: block;
    }

    .menu-burger__view {

    }

    .menu-burger__view--open::before {
        transform: rotate(-45deg);
        top: 6px;
        transition: all 0.2s;
    }

    .menu-burger__view--open::after {
        transform: rotate(45deg);
        transition: all 0.2s;
    }

    .menu-burger__view--open.menu-burger__view {
        border: 0;
    }

    .logo {
        display: none;
    }

    .container-col {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .container-col:last-child {
        display: none;
    }

    .logo__pic--mobile {
        display: block;
    }

    .select-wrapper {
        margin: 0;
    }

    .header .fixed-container {
        flex-direction: column;
        align-items: center;
    }

    .main .fixed-container {
        margin-top: 0;
    }

    .about {
        padding: 15px 0 20px;
        font-size: 0.9rem;
    }

    .mobile-row {
        display: flex;
        justify-content: space-around;
        margin: 13px 0;
        position: relative;
    }

    .menu-burger {
        margin: 5px 2px 0 -2px;
    }

    .cur-date {
        font-size: 16px;
        margin-right: -11px;
        margin-left: 22px;
    }

    .mobile-row .news-extras__time--mobile {
        padding-left: 26px;
        margin-left: 33px;
        margin-right: 19px;
    }

    .mobile-row .weather {
        padding-left: 38px;
        padding-bottom: 1px;
        margin-right: 26px;
    }

    .article__link--hot {
        padding-right: 0;
    }

    .hot__image {
        height: 320px;
        width: auto;
    }

    .main-news__item:nth-child(2n) {
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .most-popular .article__link--hot {
        margin-top: 15px;
        font-size: 20px;
        line-height: 28px;
    }
}

@media (max-width: 470px) {
    .hot__image {
        height: auto;
        width: 100%;
    }

    .adv {
        transform: translateX(25%);
    }
}


@media (max-width: 430px) {
    .wrap-popular-text {
        top: 70px;
    }

    .wrap-hot-text {
        top: 53px;
    }
}


@media (max-width: 360px) {

    .footer .fixed-container {
        justify-content: flex-start;
    }

    .hot__image {
        width: auto;
        transform: translateX(-26%);
    }

    .header {
        margin-bottom: 35px;
        padding-bottom: 0;
    }

    .main {
        margin-bottom: 0;
        padding-bottom: 48px;
    }

    .main .fixed-container {
        padding-top: 0;
    }

    .fixed-container {
        padding: 0;
    }

    .about {
        font-size: 0.8rem;
    }

    .menu-burger {
        margin: 5px 1px 0 10px;
    }

    .magnifying-glass--btn {
        margin-right: 10px;
    }

    .main-news {
        flex-direction: column;
        max-width: 320px;
    }

    .main-news__item:first-child {
        width: 100%;
        margin-bottom: 25px;
    }

    .wrap-hot-text {
        left: 24px;
        top: 141px;
        padding-right: 10px;
    }


    .main-news__item:not(:first-child) {
        max-width: 100%;
        margin-bottom: 28px;
    }


    .main-news__pic {
        width: 100%;
        height: 197px;
    }


    .news-footer {
        padding: 0;
    }

    .main-news .news-footer {
        justify-content: flex-start;
        padding: 0 25px;

    }

    .main-news .news-category {
        margin-right: 11px;
    }

    .news-extras__time {
        margin-left: 0;
        margin-right: 17px;
    }

    .news-extras__time--hot {
        margin-left: 16px;
    }

    .align-container {
        padding: 0 25px;
    }

    .article__link--bold {
        font-weight: 700;
        font-size: 0.835rem;
        padding: 0 25px;
        display: block;
        margin-top: 13px;
        letter-spacing: 0.25px;
    }

    .wrap-hot-text .news-footer {
        padding: 0;
    }

    .daily-news {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin: 37px 6px 0 0;
    }

    .daily-news__title {
        padding: 25px 0 22px;
    }

    .daily-news__item {
        padding: 0 15px 0 25px;
        margin-bottom: 23px;
    }

    .main-news__item:nth-child(2n+1) {
        margin-right: 0;
    }

    .main {
        padding-bottom: 43px;
    }

    .daily-news .news-extras {
        margin-right: 80px;
    }

    .button {
        margin: 14px 0 50px;
        width: 53%;
    }

    .adv {
        margin: 20px 0 28px;
    }

    .adv__pict {
        margin-right: 20px;
    }

    .most-popular .article__link--hot {
        margin-top: 20px;
        font-size: 22px;
        line-height: 28px;
    }

    .hot__image {
        width: auto;
        transform: translateX(-20%);
    }

    .most-popular__short-info {
        display: none;
    }

    .header-text {
        padding: 12px 0 19px;
    }

    .most-popular__img {
        height: 308px;
    }

    .wrap-popular-text {
        left: 25px;
        top: 111px;
    }

    .most-popular__item:first-child {
        padding: 22px 25px 0 25px;
    }

    .most-popular__header {
        padding: 0 25px;
    }

    .most-popular__item {
        padding: 22px 25px 0 25px;
    }

    .most-popular__item:last-child {
        padding: 20px 25px 0 25px;
    }

    .most-popular .article__link--hot {
        margin-top: 15px;
    }

    .most-popular .news-footer {
        margin: 23px 0 0;
    }

    .most-popular__link {
        font-size: 16px;
    }

    .most-popular__list .news-category {
        margin-right: 10px;
    }

    .most-popular__list .news-extras__time {
        margin-left: 0;
        margin-right: 16px;
    }

    .most-popular__list .news-footer {
        margin: 0;
    }

    .most-popular__list .news-footer {
        margin: 14px 0 0;
    }

    .footer .fixed-container {
        flex-wrap: wrap;
        padding: 0 25px;
        margin-bottom: 24px;
    }

    .bottom-menu {
        width: 250px;
        columns: 2;
        margin: 42px 0 0;
        border-bottom: 1px solid rgba(229, 229, 229, 0.15);
        padding-bottom: 23px;
    }

    .bottom-menu__item {
        margin: 0 0 16px 0;
    }

    .diff-links {
        margin: 32px 0 10px 0;
    }

    .bottom-logo {
        margin-bottom: 22px;
    }

    .additional {
        display: flex;
        flex-wrap: wrap;
    }

    .additional__item {
        margin-bottom: 15px;
        margin-left: 1px;
        margin-right: 43px;
        max-width: 100px;
    }

    .socials {
        margin-top: 5px;
    }

    .footer .socials-contacts {
        text-align: start;
        width: 100%;
        margin-top: 20px;
    }

    .footer .fixed-container {
        margin-bottom: 0;
    }

    .copyright__text {
        padding: 23px 60px 25px 25px;
        line-height: 20px;
    }


    .copyright {
        text-align: start;
        border: 0;
    }
}

@media (max-width: 320px) {
    .hot__image {
        transform: translateX(-30%);
    }
}